.profile-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    max-width: 350px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}
.container-area{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #f4f4f4;

}
.profile-box .img-area{
    margin-top: 10px;
    padding: 2px;
    display: flex;
    height: 100%;

}

.profile-box .button-area{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
 .button-area .follow-button{
    background-color: rgb(244, 64, 85);
    height: 50px;
    width: 150px;
    padding: 8px 24px;
    margin: 0 10px;
    border-radius: 24px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.profile-box .media-button{
display: flex;
justify-content: center;   
align-items: center;
}
.media-button .link-area{
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin:0 8px;
    background-color: #4070f4;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 20px;
}
.profile-box .text-area{
    display: flex;
    justify-content: content;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.img-area{
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 50%;
    background-color:#4070f4;
    padding: 3px;
    margin-bottom: 10px;
}
.img-area img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid#fff;
    object-fit: cover;
}
.text-area .name{
    font-size: 24px;
    font-weight: 500;
}
.text-area .job{
    font-size: 18px;
    font-weight: 300;
}